* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

nav{
    
    padding: 20px 100px 0px 100px;
    border-bottom: 1px solid black;
}

#container-nav {
    width: 83.5vw;
    display: flex;
    justify-content: space-between;
}

#left-nav {
    display: flex;
    text-align: center;
}

#left-nav p{
    width: 100px;
    padding-bottom: 5px;
}

#left-nav p:hover{
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

#right-nav{
    width: 100px;
    text-align: center;
}

#right-nav:hover{
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.header-form {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px 15px;
}

#requester {
    border: 1px solid black;
    width: 75vw;
    margin: 0 auto;
}

h3 {
    font-weight: normal;
}

.listForm{
    display: flex;
    margin: 15px;
}

.listForm p{
    width: 250px;
    padding: 5px;
}

.listForm input {
    margin-right: 35px;
    width: 300px;
    padding: 5px;
}

#current {
    border: 1px solid black;
    width: 75vw;
    margin: 0 auto;
}

#proposed {
    border: 1px solid black;
    width: 75vw;
    margin: 0 auto;
}

.fa-info-circle, .fa-file, .fa-file-alt{
    padding-right: 10px;
}




/* #######################################
############## MODAL HEADER ##############
####################################### */

#modal-form {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-header {
    text-align: center;
    padding:10px 0px;
}

#modal-summary {
    width:70vw;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color:white;
    padding: 10px 0px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: showmodal;
    animation-duration: 0.4s
}

@keyframes showmodal {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#close {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top:10px;
    right: 20px;
}

#close:hover {
    cursor: pointer;
    opacity: 0.7;
}

.modal-header .number {
    border:1px solid black;
    border-radius: 50%;
    padding:0 5px;
    margin:0px 20px;
}

.modal-header .title {
    border-bottom: 1px solid black;
}

.modal-listForm {
    display: flex;
    margin: 15px;
}

.modal-listForm p {
    width: 250px;
    padding: 5px;
}

.modal-listForm input {
    margin-right: 35px;
    width: 250px;
    padding: 5px;
}