* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    background-image: linear-gradient(to bottom right, #d7faff, white);
    height: 100vh;
}

img{
    height: 100px;
    width: 80px;
}


nav{
    padding: 20px 100px 0px 100px;
    position: fixed;
    top:0;
    width: 100vw;
    background: #17a2b8;
    color: white;
    z-index: 1;
}

section {
    padding-top: 70px;
}

#container-nav {
    width: 83.5vw;
    display: flex;
    justify-content: space-between;
}

#left-nav {
    display: flex;
    text-align: center;
}

#left-nav p{
    width: 100px;
    padding-bottom: 5px;
}

#left-nav p:hover{
    border-bottom: 3px solid #1f2726;
    margin-bottom: -3px;
}

#right-nav{
    width: 100px;
    text-align: center;
}

#right-nav:hover{
    border-bottom: 3px solid #1f2726;
    margin-bottom: -3px;
}

header {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 15px;
    background: #17a2b8;
    border-radius: 4px;
}

#requester {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 250px 10px 500px;
    grid-template-rows: 20px 20px 20px 0.5px auto;
    grid-template-areas: 
    'foto . a'
    'foto . b'
    'foto . c'
    '. . .'
}

#foto{
    grid-area: foto;
    text-align: center;
}

#foto img {
    margin: 10px;
    text-align: center;
}

#list1{
    grid-area: a;
}

#list2{
    grid-area: b;
}

#list3{
    grid-area: c;
}

#list1, #list2, #list3 {
    line-height: 30px;
    vertical-align: middle;
}

h3 {
    font-weight: normal;
}

.listForm{
    display: flex;
    margin: 10px;
}

.listForm p{
    width: 250px;
    height: 30px;
}

.listForm input{
    margin-right: 35px;
    width: 300px;
    height: 30px;
}

#current {
    width: 75vw;
    margin: 0 auto;
}

.fa-info-circle, .fa-plus-circle, .fa-history{
    padding-right: 10px;
}

.request{   
    width: 75vw;
    margin: 0 auto;
}
.itemrequest{
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.itemrequest:hover{
    cursor: pointer;
    opacity: 0.7;
}

.itemrequest:nth-child(odd) {
    background-color: #a3cbe1;
}
.itemrequest:nth-child(even) {
    background-color: #d4faff;
}

.request .comment:nth-child(even){
    background-color: #a3cbe1;
}
.request .comment:nth-child(odd){
    background-color: #d4faff;
}

#viewButton{
    height: 30px;
    width: 60px;
}

.history{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid rgb(135, 232, 245);
}

.history p{
    width: 100px;
    text-align: center;
}
.comment{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.comment:last-child{
    margin-bottom: 50px;
}
.comment:hover{
    cursor: pointer;
    opacity: 0.7;
}
.comment p {
    width: 100px;
    text-align: center;
}

.comment img {
    padding:0px 10px;
    text-align: center;
}

footer {
    bottom: 3vh;
    margin:0 auto;
    padding-top:40px;
    padding-bottom: 10px;
    color:rgb(235, 224, 224);
    text-align: center;
}

.fa-chevron-down:hover {
    cursor: pointer;
    color: white;
}
#new-request, #comment-history {
    display: none;
}

/* modal */

/* #######################################
############## MODAL HEADER ##############
####################################### */

#modal-form {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-header {
    text-align: center;
    padding:10px 0px;
}

#modal-summary {
    width:70vw;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color:white;
    padding: 10px 0px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: showmodal;
    animation-duration: 0.4s
}

@keyframes showmodal {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#close {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top:10px;
    right: 20px;
}

#close:hover {
    cursor: pointer;
    opacity: 0.7;
}

.modal-header .number {
    border:1px solid black;
    border-radius: 50%;
    padding:0 5px;
    margin:0px 20px;
}

.modal-header .title {
    border-bottom: 1px solid black;
}

.modal-listForm {
    display: flex;
    margin: 15px;
}

.modal-listForm p {
    width: 250px;
    padding: 5px;
}

.modal-listForm input {
    margin-right: 35px;
    width: 250px;
    padding: 5px;
}