* {
    margin: 0;
    padding: 0;
}

nav{
    
    padding: 20px 100px 0px 100px;
    border-bottom: 1px solid black;
}

#container-nav {
    width: 83.5vw;
    display: flex;
    justify-content: space-between;
}

#left-nav {
    display: flex;
    text-align: center;

}

#left-nav p{
    width: 100px;
    padding-bottom: 5px;
}

#left-nav p:hover{
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

header {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
}

#requester {
    border: 1px solid black;
    width: 75vw;
    margin: 0 auto;
}