* {
  margin: 0;
  padding: 0;
}
body {
  background: #044263;
}
#user {
  margin: 100px 0px 100px 188px;
  text-align: left;
  font-size: 24px;
  color: white;
  font-family: 'Heebo', sans-serif;
}
.request {
  width: 70vw;
  margin: auto;
}
.request .itemrequest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-left: 20px solid black;
  background-color: #eceff1;
  box-shadow: 10px 10px 10px #000000;
  transition: all 0.5s;
}
.request .itemrequest img {
  height: 80px;
  width: 60px;
  border-radius: 5px;
}
.request .itemrequest:hover {
  box-shadow: 15px 15px 1px #000000;
  cursor: pointer;
  margin-right: -10px;
}
header {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 15px;
  border-radius: 4px;
  color: #ffffff;
  width: 905px;
  font-family: 'Catamaran', sans-serif;
}
footer {
  bottom: 3vh;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
}
/* #######################################
############## MODAL HEADER ##############
####################################### */
#modal-form {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
#modal-header {
  text-align: center;
  padding: 10px 0px;
}
#modal-summary {
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: white;
  padding: 10px 0px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: showmodal;
  animation-duration: 0.4s;
}
@keyframes showmodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#close {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
#close:hover {
  cursor: pointer;
  opacity: 0.7;
}
.modal-header .number {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 5px;
  margin: 0px 20px;
}
.modal-header .title {
  border-bottom: 1px solid black;
}
.modal-listForm {
  display: flex;
  margin: 15px;
}
.modal-listForm p {
  width: 250px;
  padding: 5px;
}
.modal-listForm input {
  margin-right: 35px;
  width: 250px;
  padding: 5px;
}
