* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(19, 72, 94), rgb(0, 174, 255));
    background-image: url('image1.JPG');
    background-size: cover;
    background-position: center;
}

div#container {
    border:1px solid #f8f9fa;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    height: 200px;
    background-color:#f8f9fa;
    box-shadow: 3px 3px 7px #0a0a0a;

}

#container h1 {
    margin:10px;
}

form {
    border-radius: 10px;
}

.form{
    display: flex; 
    justify-content: center;  
    align-items: center;
    margin:10px;

}

.form label{
    width:100px;
    text-align: left;
}
.form input {
    width:200px;
    border-radius:3px;
    border:1px solid #0000002e;
}

.form label, .form input, .form button{
    padding:3px;
}

.form button {
    margin-left:250px;
    border-radius: 5px;
    border: 0px solid;
    text-decoration: none;
    background-color: #8798a5;
    padding: 5px 10px;
    box-shadow: 0px 1px 0px 0px #000;
    color: white;
}

.form button:hover {
    cursor: pointer;
    opacity: 0.5;
}

#copyright {

    clear: both;  
  }
  
  #copyright-list {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    height:5vh;
  }
  
  #copyright-list li {
    padding-right:15px;
    color:rgb(150, 150, 150);
    font-size:13px
  }
  footer {
    position: absolute;
    bottom: 50px;
  }