* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1471469478635-911c1858d22e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e7d63272ec42ba808a66cf0dab689034&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb');
    background-size: cover;
    background-position: center;
}

div#container {
    border:1px solid #f8f9fa;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    height: 250px;
}

#container h1 {
    margin:10px;
    color: white;
}



.form{
    display: flex; 
    align-items: center;
    margin:15px auto;
    border: 1px solid #f8f9fa;
    background-color:#f8f9fa;
    box-shadow: 1px 1px 4px black;
    width:350px;
}

.form input {
    width:295px;
    border: none;
}

.form label, .form button{
    padding:5px;
}
.form input{
    padding:10px 5px;
    border-left:1px solid black;
}
.form .fas {
  padding:0px 15px;
}

button {
    margin-left:265px;
    border-radius: 5px;
    border: 0px solid;
    text-decoration: none;
    background-color: #bba8e4; 
    padding: 7px 25px;
    box-shadow: 0px 1px 0px 0px #000;
    color: #3e3535;
}

form button:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow:3px 3px 5px black;
}

footer {
    position: absolute;
    bottom: 3vh;
    margin:0 auto;
    color:#eaeaea;
}