* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: blanchedalmond;
  height: 100vh;
}
#user {
  margin: 0px 0px 50px 188px;
  text-align: left;
  font-size: 24px;
  color: white;
  font-family: 'Heebo', sans-serif;
}
section {
  margin-top: 100px;
  text-align: center;
}
header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
header .tittle {
  height: 180px;
  width: 344px;
  padding: 36px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 10px 10px 10px #a74c4c;
}
header .tittle:hover {
  cursor: pointer;
  opacity: 0.7;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
header .tittle #new-req {
  color: #ff7f4f;
}
header .tittle #comment {
  color: #9244b0;
}
header .tittle h4 {
  margin-top: -50px;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 24px;
}
header .tittle img {
  height: 85px;
  width: 85px;
  position: relative;
  top: -80px;
}
.greeting {
  display: flex;
  font-family: 'Acme', sans-serif;
  color: brown;
  font-size: 30px;
}
.request {
  width: 70vw;
  margin: auto;
}
.request .itemrequest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-left: 20px solid black;
  background-color: #eceff1;
  box-shadow: 10px 10px 10px #000000;
}
.request .itemrequest img {
  height: 80px;
  width: 60px;
  border-radius: 5px;
}
.request .itemrequest:hover {
  box-shadow: 15px 15px 1px #000000;
  cursor: pointer;
  margin-right: -10px;
}
.second-box {
  color: brown;
  font-family: 'Heebo', sans-serif;
  margin-top: 50px;
}
.second-box #comment-history {
  box-shadow: 0 4px 8px 0 brown;
  width: 70vw;
  margin: 20px auto;
  margin-bottom: 10px;
}
.second-box #comment-history .history {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  border-bottom: 5px ridge brown;
}
.second-box #comment-history .history p {
  width: 100px;
  text-align: center;
  vertical-align: middle;
}
.second-box #comment-history .comment {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}
.second-box #comment-history .comment p {
  width: 100px;
  text-align: center;
}
.second-box #comment-history .comment img {
  height: 24px;
  width: 24px;
  border-radius: 5px;
  margin: 0px 20px;
  text-align: center;
}
footer {
  bottom: 3vh;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
  color: brown;
}
#new-request,
.second-box {
  display: none;
}
.task {
  width: 70vw;
  margin: auto;
  color: white;
}
.task h3 {
  font-family: 'Abel', sans-serif;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-size: 60px;
  color: brown;
}
.task .taskitem {
  display: flex;
  font-family: 'Catamaran', sans-serif;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-left: 20px solid #a74c4c;
  background-color: #eceff1;
  box-shadow: 10px 10px 10px #a74c4c;
  transition: all 0.5s;
  color: black;
  box-shadow: 0 4px 8px 0 brown;
  background-color: #f8f9fa5e;
}
.task .taskitem img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}
.task .taskitem:hover {
  box-shadow: 15px 15px 1px #a74c4c;
  cursor: pointer;
  margin-right: -10px;
}
button {
  background-color: #d1b9a6;
  color: #3e3535;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.ans {
  border-bottom: 3px groove #5893bb;
}
.inans {
  margin-bottom: 15px;
}
#regForm {
  display: none;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #a74c4c;
  margin: 100px auto;
  padding: 30px;
  width: 60%;
  font-family: 'Heebo', sans-serif;
  border-radius: 5px;
}
#regForm .tab {
  display: none;
}
#regForm .tab .listForm {
  display: flex;
  margin: 15px;
  text-align: left;
}
#regForm .tab .listForm p {
  width: 250px;
  padding: 5px;
}
#regForm .tab .listForm input {
  margin-right: 35px;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm input:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm .tab .listForm .doublelist1 {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .doublelist1:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm .tab .listForm .doubleinput1 {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .doubleinput1:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm .tab .listForm .doubleinput2 {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .doubleinput2:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm .tab .listForm .down-list {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .down-list:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm h1 {
  text-align: center;
}
#regForm input {
  padding: 10px;
  width: 100%;
  border: 1px solid #aaaaaa;
}
#regForm .invalid {
  background-color: #d1d1d1;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content span {
  color: black;
  padding: 2px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  background-color: #d1b9a6;
}
.dropdown-content span:hover {
  background-color: brown;
}
.dropdown {
  margin-left: 5px;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* #######################################
############## MODAL HEADER ##############
####################################### */
textarea {
  border: 1px solid #838383;
  width: 300px;
}
textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#comment-hismodal .headercomment {
  margin-top: 50px;
  padding: 15px 0px;
  color: #3e3535;
}
#comment-hismodal .his-modal {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #48120e;
  color: white;
  font-weight: bold;
  height: 70px;
  align-items: center;
  margin: 0px 10px auto;
  border-radius: 5px;
}
#comment-hismodal .his-modal p {
  width: 100px;
  text-align: center;
}
#comment-hismodal .comment-modal {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  border-bottom: 5px ridge brown;
  margin: 0px 15px auto;
  height: 70px;
}
#comment-hismodal .comment-modal .img-modal {
  width: 100px;
}
#comment-hismodal .comment-modal img {
  width: 50px;
  height: 50px;
}
#comment-hismodal .comment-modal p {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#comment-hismodal .comment-modal p:hover {
  white-space: normal;
  text-overflow: ellipsis;
}
#modal-form {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.726);
  /* Black w/ opacity */
}
#modal-header {
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
}
#modal-header #close {
  cursor: pointer;
}
#modal-summary {
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: white;
  padding: 10px 0px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: showmodal;
  animation-duration: 0.4s;
  border-radius: 5px;
}
#confirmation #revise {
  margin-left: 10px;
}
@keyframes showmodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#close {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}
#close :hover {
  cursor: pointer;
  opacity: 0.7;
}
.modal-header {
  text-align: left;
  background-color: brown;
}
.modal-header .number {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 5px;
  margin: 0px 20px;
}
.modal-header .title {
  border-bottom: black;
}
.modal-listForm {
  display: flex;
  margin: 15px;
  text-align: left;
}
.modal-listForm .doubleinput1 {
  margin-right: 35px;
  height: 16px;
  width: 300px;
  margin-bottom: 15px;
}
.modal-listForm .doubleinput2 {
  margin-right: 35px;
  height: 16px;
  width: 300px;
}
.modal-listForm p {
  width: 300px;
  padding: 5px;
}
.modal-listForm input {
  margin-right: 35px;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
.modal-listForm input:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm {
  display: none;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #a74c4c;
  margin: 100px auto;
  padding: 30px;
  width: 60%;
  font-family: 'Heebo', sans-serif;
  border-radius: 5px;
}
#regForm .tab {
  display: none;
}
#regForm .tab .listForm {
  display: flex;
  margin: 15px;
  text-align: left;
}
#regForm .tab .listForm p {
  width: 250px;
  padding: 5px;
}
#regForm .tab .listForm input {
  margin-right: 35px;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm input:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
  background-color: white;
}
#regForm .tab .listForm .doublelist1 {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .doublelist1:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
  background-color: white;
}
#regForm .tab .listForm .doubleinput1 {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .doubleinput1:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
  background-color: white;
}
#regForm .tab .listForm .doubleinput2 {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .doubleinput2:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm .tab .listForm .down-list {
  margin-right: 35px;
  height: 32px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}
#regForm .tab .listForm .down-list:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#regForm h1 {
  text-align: center;
}
#regForm input {
  padding: 10px;
  width: 100%;
  border: 1px solid #aaaaaa;
}
#regForm .invalid {
  background-color: #d1d1d1;
}
#modal-confirmation {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.726);
  /* Black w/ opacity */
}
#modal-confirmation #modal-confirm {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: white;
  padding: 20px 10px;
  position: relative;
  top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: showmodal;
  animation-duration: 0.4s;
  border-radius: 5px;
}
#modal-confirmation #modal-confirm #modal-header-confirm button {
  margin: 10px;
}
.tasklist-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.tasklist-header img:hover {
  cursor: pointer;
  opacity: 0.8;
  animation: rotate 2s;
  animation-iteration-count: infinite;
}
#nextBtn {
  cursor: pointer;
}
#prevBtn {
  cursor: pointer;
}
.tooltip {
  position: relative;
  font-family: 'Heebo', sans-serif;
}
.tooltip :hover {
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.596);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.596) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
